<div class="site-container">
  <div class="site-inner-container">
    <button type="button" class="header__mobile-menu-open-btn" onclick="toggleMobileMenu(true)"></button>
    <div class="header__logo">
      <a href="https://www.cwlearning.com.tw/" target="_blank">
        <img src="src/assets/images/logo-cw.svg" class="header__logo-cw" alt="Amway cw">
      </a>
      <a href="https://www.cheers.com.tw/" target="_blank">
        <img src="src/assets/images/logo-cheers.svg" class="header__logo-cheers" alt="Amway cheers">
      </a>
      <hr>
      <a href="https://web.amway.com.tw/" target="_blank">
        <img src="src/assets/images/logo-amway.svg" class="header__logo-amway" alt="Amway">
      </a>
    </div>
    <nav class="header__pc-nav">
      <ul class="header__pc-nav-list">
        <li class="header__pc-nav-item" data-target-section="cogitation" onclick="onHeaderNav(event)">
          <img src="src/assets/images/header-nav-item-1.svg" alt="不一樣的大人思維">
          <img src="src/assets/images/header-nav-item-1-active.svg" alt="不一樣的大人思維">
        </li>
        <li class="header__pc-nav-item" data-target-section="join" onclick="onHeaderNav(event)">
          <img src="src/assets/images/header-nav-item-2.svg" alt="揪 IN 安麗">
          <img src="src/assets/images/header-nav-item-2-active.svg" alt="揪 IN 安麗">
        </li>
        <li class="header__pc-nav-item" data-target-section="cherish" onclick="onHeaderNav(event)">
          <img src="src/assets/images/header-nav-item-3.svg" alt="我選故我愛">
          <img src="src/assets/images/header-nav-item-3-active.svg" alt="我選故我愛">
        </li>
      </ul>
    </nav>
    <div class="header__mobile-menu">
      <button type="button" class="header__mobile-menu-close-btn" onclick="toggleMobileMenu(false)"></button>
      <nav class="header__mobile-nav">
        <ul class="header__mobile-nav-list">
          <li class="header__mobile-nav-item" data-target-section="cogitation" onclick="onHeaderMobileNav(event)">
            <img src="src/assets/images/header-nav-item-1.svg" alt="不一樣的大人思維">
            <img src="src/assets/images/header-nav-item-1-active.svg" alt="不一樣的大人思維">
          </li>
          <li class="header__mobile-nav-item" data-target-section="join" onclick="onHeaderMobileNav(event)">
            <img src="src/assets/images/header-nav-item-2.svg" alt="揪 IN 安麗">
            <img src="src/assets/images/header-nav-item-2-active.svg" alt="揪 IN 安麗">
          </li>
          <li class="header__mobile-nav-item" data-target-section="cherish" onclick="onHeaderMobileNav(event)">
            <img src="src/assets/images/header-nav-item-3.svg" alt="我選故我愛">
            <img src="src/assets/images/header-nav-item-3-active.svg" alt="我選故我愛">
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
