<div class="coming-soon-modal__container">
  <div class="coming-soon-modal__head">
    <div class="coming-soon-modal__close-btn" onclick="closeComingSoonModal()">
      <button type="button"></button>
      <span>關閉</span>
    </div>
  </div>
  <div class="coming-soon-modal__body">
    <div class="coming-soon-modal__title">
      <img src="src/assets/images/main-page-coming-soon-modal-title.svg" alt="影片即將上線，敬請期待">
    </div>
    <p class="coming-soon-modal__desc">影片內容描述影片內容描述影片內容描述影片內容描述影片內容描述影片內容描述影片內容描述影片內容描述影片內容描述影片內容描述影片內容描述影片內容描述影片內容描述影片內容描述影片內容描述影片內容描述</p>
  </div>
</div>
<div class="coming-soon-modal__backdrop" onclick="closeComingSoonModal()"></div>
