<div class="coming-soon-modal__container">
  <div class="coming-soon-modal__head">
    <div class="coming-soon-modal__close-btn" onclick="closeComingSoonModal()">
      <button type="button"></button>
      <span>關閉</span>
    </div>
  </div>
  <div class="coming-soon-modal__body">
    <div class="coming-soon-modal__title">
      <img src="src/assets/images/main-page-coming-soon-modal-title.png" alt="影片即將上線，敬請期待">
    </div>
    <p class="coming-soon-modal__desc">工作不再只有一種模式，數位原生世代的舞台，逐漸從單一職場轉移到社群媒體，個人品牌不僅是形象資產，更成為一個足以代表世代的新興工作，斜槓身分如何流暢切換與成功經營，讓KOL與專業人資從不同角度，現身說法告訴你</p>
  </div>
</div>
<div class="coming-soon-modal__backdrop" onclick="closeComingSoonModal()"></div>
