.coming-soon-modal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1001;
  display: none;
  &--active {
    display: block;
  }
  &__container {
    width: 1080px;
    height: 605px;
    background-color: #FFFFA5;
    background-image: url(../../../../../src/assets/images/illus-potted-plant.png);
    background-size: 159px;
    background-position: right -2.5rem bottom 2.5rem;
    background-repeat: no-repeat;
    border-radius: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
  &__head {
    padding: .625rem 0;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-100%);
  }
  &__close-btn {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    button {
      width: 30px;
      height: 30px;
      background-color: #2C2C2C;
      border: none;
      border-radius: 50%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      &::after {
        content: '';
        width: 15px;
        height: 15px;
        background-image: url(../../../../../src/assets/images/icon-light-cross.png);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
      }
    }
    span {
      color: #FFFFFF;
      font-weight: 300;
      line-height: 1.5;
      margin-left: .625rem;
    }
  }
  &__body {
    width: 70%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__title {
    text-align: center;
    img {
      width: 492px;
    }
  }
  &__desc {
    color: #62625A;
    font-weight: 300;
    line-height: 1.5;
    margin-top: 3.75rem;
  }
  &__backdrop {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    position: absolute;
    top: 0;
    left: 0;
  }
  @media screen and (max-width: 1280px) {
    &__container {
      width: 70%;
      height: 80%;
      background-size: 120px;
    }
  }
  @media screen and (max-width: 768px) {
    &__container {
      width: calc(100% - 30px);
      background-size: 100px;
    }
    &__body {
      width: calc(100% - 120px);
    }
    &__desc {
      margin-top: 2.5rem;
    }
  }
  @media screen and (max-width: 540px) {
    &__container {
      background-size: 85px;
    }
    &__body {
      width: calc(100% - 95px);
    }
  }
}
