<div class="media-modal__container">
  <div class="media-modal__head">
    <div class="media-modal__close-btn" onclick="closeMediaModal()">
      <button type="button"></button>
      <span>關閉</span>
    </div>
  </div>
  <div class="media-modal__body">
    <div class="media-modal__wrapper">
      <iframe width="560" height="315" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
  </div>
</div>
