// Global
.scroll-lockup {
  overflow: hidden;
}
// ::: End

// Site
.site-content {
  overflow: hidden;
  margin-top: 69px;
  @media screen and (max-width: 960px) {
    margin-top: 56.42px;
  }
  @media screen and (max-width: 768px) {
    margin-top: 53px;
  }
}
.site-container {
  width: 1280px;
  margin: 0 auto;
  @media screen and (max-width: 1280px) {
    width: 100%;
  }
}
.site-inner-container {
  width: 1200px;
  margin: 0 auto;
  @media screen and (max-width: 1200px) {
    width: calc(100% - 30px);
  }
}
// ::: End

// Loading Mask
.loading-mask {
  $root: '.loading-mask';
  width: 100%;
  height: 100%;
  background-color: #FFF1E8;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1001;
  &--active {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  &--anim {
    animation: scaling 1.5s ease;
    @keyframes scaling {
      from {
        #{$root}__container {
          img {
            transform: scale(1);
          }
        }
      }
      to {
        #{$root}__container {
          img {
            transform: scale(1.5);
          }
        }
      }
    }
  }
  &__container {
    width: calc(100% - 30px);
    text-align: center;
    position: relative;
    &::after {
      content: '';
      width: 50px;
      height: 54.47px;
      background-image: url(../../../../src/assets/images/main-page-main-section-title-tip.png);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      position: absolute;
      top: -107.5%;
      left: 56.5%;
      animation: scaling 1.5s ease infinite alternate;
      @keyframes scaling {
        from { transform: scale(1); }
        to { transform: scale(1.1); }
      }
    }
    img {
      width: 500px;
    }
  }
  @media screen and (max-width: 768px) {
    &__container {
      &::after {
        width: 35px;
        height: 38.12px;
        top: -90.5%;
      }
      img {
        width: 384px;
      }
    }
  }
  @media screen and (max-width: 480px) {
    &__container {
      width: 80%;
      &::after {
        width: 9.11%;
        height: 0;
        padding-bottom: 9.92%;
      }
      img {
        width: 100%;
      }
    }
  }
}
// ::: End

// Marquee
.marquee {
  .swiper-wrapper {
    transition-timing-function: linear;
  }
  .swiper-slide {
    width: auto;
    font-weight: 300;
    padding: 0 .9375rem;
  }
}
.marquee-container {
  padding: .5625rem 0;
}
// ::: End

// Gallery
.gallery {
  .swiper-button-prev,
  .swiper-button-next {
    width: 30px;
    height: 30px;
    background-color: #2C2C2C;
    border-radius: 50%;
    transition: .25s ease-out;
    &::after {
      content: '';
      width: 15px;
      height: 15px;
      background-image: url(../../../../src/assets/images/icon-arrow-left.png);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }
    &:hover {
      background-color: #FFF1E8;
      &::after {
        background-image: url(../../../../src/assets/images/icon-arrow-left-active.png);
      }
    }
  }
  .swiper-button-prev {
    left: 2.5%;
  }
  .swiper-button-next {
    right: calc(2.5% + 13.5px);
    &::after {
      transform: rotate(180deg);
    }
  }
  .swiper-pagination {
    bottom: 25px;
  }
  .swiper-pagination-bullet {
    background: #2C2C2C;
    opacity: .75;
  }
  .swiper-pagination-bullet-active {
    background: #FFFFFF;
  }
  @media screen and (max-width: 1200px) {
    .swiper-button-next {
      right: calc(2.5% + 2.8%);
    }
    .swiper-pagination {
      bottom: 10%;
    }
  }
}
// ::: End
